@media screen and (max-width: 768px) {
    .title {
        font-size: 1.5rem;
        text-align: center;
    }
    .pur-text {
        display: flex;
        justify-content: center;
        font-size: 1.5rem;
        text-align: center;
    }

    .mt{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color:gray; 
        text-align: center;
        font-size: 1em;
    }

    .left-section a {
        font-size: 1.2rem;
        margin-left: 45rem;
        white-space: nowrap;
    }

    .ol-logo{
        display: none;
}

    .navbar__toggle {
        display: flex;
      }

      .right-section {
        display: flex !important;
        position: static;
        flex-direction: row;
        background: transparent;
        width: auto;
      }

      .navbar__links {
        border: none;
        color: white;
        padding: 0 1rem;
      }
}



@media screen and  (min-width: 769px) {
    .pur-text {
        display: flex;
        justify-content: center;
        font-size: 2rem;
        text-align: center;
    }

    .mt{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color:gray; 
        text-align: center;
        font-size: 1rem;
    }
}

    @media screen and (max-width: 1024px) {
        .left-section a {
            width: 100%;
            max-width: 100%;
            font-size: 5vw;;
            margin-left: 20em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .logo {
            display: block;
            position: absolute;
            margin-left: 50rem;
            overflow: visible;
        }
 
    .ol-logo{
        
}

.right-section a {
    display: none;
}

}








